@import "~bulma/sass/utilities/_all.sass";
$red: #f15a24;
$orange: #fbb03b;
$blue: #8BCCFD;
$pink: #FD7B92;
$green:#6ED59F;

.product-specs {

    .the-icon {
        margin-top: 1rem;
        // max-height: 90px;
        width: 150px; 
        margin: 0 auto;
        img {
            max-height: 90px; 
            vertical-align: middle;
        
        }
    }

    .feature-title-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 150px;
            margin-bottom: 2em;
        }
        h4{
            color: #030303;
            text-align: center;
            &:after {
                display: block;
                content: ' ';
                height: 3px;
                margin: 3rem auto;
                width: 35px;
                background-color: #030303;
            }
        }
    }

    .feature-desc-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        .feature-icon{
            margin-right: 2em;
            min-width: 50px;
            img{
                width: 30px;
            }
        }
    }
    
    li{
        list-style-type: none;
        &:after {
            display: block;
            content: ' ';
            height: 1px;
            margin: 1rem auto;
            width: 300px;
            background-color: #CCCC;
            opacity: 0.3;
        }
    }

    .list-container{
        display: flex;
        align-items: center;
    }

    .feature-description{
        text-align: left;
    }
}

@include tablet {
   
    .product-specs {
        .the-icon{
            margin: 0;
        }
        padding: .5rem 2rem;
        .subtitle {
            flex-grow: 2;
            
        }
        .title {
            // padding: .2rem 0 0 1rem;
            flex-grow: 1; 
        }

    }
}
