@import "~bulma/sass/utilities/_all.sass";
$red: #f15a24;
$orange: #fbb03b;
$blue: #8BCCFD;
$pink: #FD7B92;
$green:#6ED59F;

.product-specs {

    .the-icon {
        margin-top: 1rem;
        max-height: 90px;
        width: 150px; 
        margin: 0 auto;
        img {
            max-height: 90px; 
            vertical-align: middle;
        
        }
    }
}

@include tablet {
   
    .product-specs {
        .the-icon{
            margin: 0;
        }
        padding: .5rem 2rem;
        .subtitle {
            flex-grow: 2;
            
        }
        .title {
            // padding: .2rem 0 0 1rem;
            flex-grow: 1;
            
            
        }
    }
}
