@import "~bulma/sass/utilities/_all.sass";
$red: #f15a24;
$orange: #fbb03b;
$blue: #8BCCFD;
$pink: #FD7B92;
$green:#6ED59F;

.product {
    color: white;
    overflow: hidden;
    .title {
        color: white;
    }
    .subtitle {
        color: white;
    }
    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .button {
        display: table;
        border-color: white;
        &:hover {
            background-color: transparent;
            color: white !important;
        }
    }
    &.product-pink {
        background-color: $pink;
        .button {
            color: $pink;
        }
    }
    &.product-green {
        background-color: $green;
        .button {
            color: $green;
        }
    }
    &.product-blue {
        background-color: $blue;
        .button {
            color: $blue;
        }
    }
}

@include desktop {
    .product {
        .text-content {
            display: flex;
            .title,
            .subtitle,
            .list-wrapper {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
        .image {
            text-align: center;
            margin-top: 1rem;
            max-height: 500px;
            img {
                max-width: 90%;
                display: inline-block;
            }
        }
        .button {
            margin-top: 3.5rem;
        }
        .title{
            &:after {
                display: block;
                content: ' ';
                height: 3px;
                margin: 1rem 0;
                background-color: white;
                width: 35px;
            }
        }
    }
}

@include fullhd {
    .product {
        .image {
            max-height: 600px;
            img {
                max-width: 85%;
            }
        }
    }
}