@import "~bulma/sass/utilities/_all.sass";

.hero-slider-item {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .hero-body {
        background-color:rgba(60, 36, 21, 0.4);
        height: 100vh;
    }
    .slider-icon {
        display: inline-block;
        height: 70px;
    }
    .slider-image-description {
        font-size: $size-7;
        position: absolute;
        bottom: 50px;
        left: 50px;
    }
}
.hero.is-fullheight.is-primary {
    background-image: none;
    background-color: transparent;
    height: 100vh;
}

.slick-slider,
.slick-list,
.slick-track {
    height: 100vh;
}
.slick-dots {
    bottom: 2rem;
    li button:before {
        color: white;
        font-size: 0.8rem;
    }
    li.slick-active button:before {
        color: white;
    }
}

.slick-next {
    right: 2rem;
    width: 15px;
    &:before {
        content: none;
    }
}

.slick-prev {
    left: 2rem;
    z-index: 1;
    width: 15px;
    &:before {
        content: none;
    }
}

.slick-disabled {
    opacity: 0.5;
}

@include mobile {
    .slick-next {
        right: 0.5rem;
    }
    .slick-prev {
        left: 0.5rem;
    }
    .hero-slider-item {
        .slider-image-description {
            left: auto;
            right: 20px;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }
}

@include touch {
    .hero-slider-item {
        height: 100vh;
        .slider-icon {
            margin-bottom: 2rem;
        }
    }
}

@include desktop {
    .hero-slider-item {
        .slider-icon {
            margin-bottom: 2rem;
        }
    }
}

@include widescreen {
    .hero.is-large {
        .hero-slider-item {
            .hero-body {
                padding-left: 18rem;
                padding-right: 18rem;
            }
        }
    }
}