@import "~bulma/sass/utilities/_all.sass";

$red: #f15a24;
$orange: #fbb03b;
$blue: #29abe2;
$pink: #FD7B92;
$green:#6ED59F;
$coral: #f09c77;

.feature-item {
    display: flex;
    flex-flow: column nowrap;
    .title {
        margin-top: 1.5rem;
        &:after {
            display: block;
            content: ' ';
            height: 3px;
            margin: 1rem auto;
            width: 35px;
        }
    }
 
    &.feature-item-pink {
        .title:after,
        .icon {
            background-color: $pink;
        }
    }
    &.feature-item-green {
        .title:after,
        .icon {
            background-color: $green;
        }
    }
    &.feature-item-blue {
        .title:after,
        .icon {
            background-color: $blue;
        }
    }
    &.feature-item-blue {
        .title:after,
        .icon {
            background-color: $coral;
        }
    }
    .image {
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 90px; 
        // line-height: 90px;
        width: 30%;
       
    }
}

.feature-container{
    margin-top: 3em;
    justify-content: center;
}

.color-gray{
    background-color: #f2f2f2;
}

@include desktop {
    #feature {
        padding: 6rem;
    }
    .feature-item {
        align-items: center;
        padding: 1rem 4rem;
        margin-bottom: 3em;
        .subtitle {
            flex-grow: 2;
        }
        .title {
            flex-grow: 3;
        }
    }
}
