@import "~bulma/sass/utilities/_all.sass";

.us-section {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .hero-body {
        background-color:rgba(60, 36, 21, 0.6);
        height: 100vh;
    }
}

@include desktop {
    .us-section {
        .hero-body {
            padding-left: 18rem;
            padding-right: 18rem;
        }
    }
}