$red: #f15a24;
$orange: #fbb03b;
$blue: #29abe2;
$pink: #FD7B92;
$green:#6ED59F;


.use-case-item {
    margin-top: 1rem;
    margin-bottom: 2rem;
    .title {
        margin-top: 1rem;
    }
    .image {
        max-width: 300px;
        display: inline-block;
    }
    .icon {
        border-radius: 100%;
        box-shadow: 3px 3px 5.4px 0 rgba(0, 0, 0, 0.21);
    }
}

.use-case-item-pink {
    .icon {
        background-color: $pink;
    }
}

.use-case-item-green {
    .icon {
        background-color: $green;
    }
}

.use-case-item-blue {
    .icon {
        background-color: $blue;
    }
}